
.container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 1s ease-in-out;
}
.view {
    overflow: hidden;
}
.active {
    grid-template-rows: 1fr;
    color : black;
}